@model WebTechnology.Models.RegisterViewModel
@{
    ViewBag.Title = "Sign_up";
}
<div class="col-6 offset-3 my-3" id="content">
    <h3>Register</h3>
    <hr />


    @using (Html.BeginForm("Register", "Account"))
    {

        @Html.AntiForgeryToken()


        @Html.ValidationSummary()



        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>

        <button type="submit" class="btn btn-success">Register</button>

    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
